In [3]:
from sklearn.datasets import load_iris
iris=load_iris()
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [4]:
feature_matrix=iris.data
feature_names=iris.feature_names
feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
target_matrix=iris.target
target_name=iris.target_names
target_name

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [6]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import statistics
import statsmodels
import matplotlib.pyplot as plt

In [7]:
df=pd.DataFrame(feature_matrix,columns=feature_names)
df['species(target)']=target_matrix
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species(target)
104,6.5,3.0,5.8,2.2,2
46,5.1,3.8,1.6,0.2,0
18,5.7,3.8,1.7,0.3,0
42,4.4,3.2,1.3,0.2,0
50,7.0,3.2,4.7,1.4,1

In [8]:
def replace_target(x):
    if x==0:
        return 'setosa'
    elif x==1:
        return 'versicolor'
    elif x==2:
        return 'virginica'
df['species-names']=df['species(target)'].apply(replace_target)

In [9]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species(target),species-names
129,7.2,3.0,5.8,1.6,2,virginica
46,5.1,3.8,1.6,0.2,0,setosa
116,6.5,3.0,5.5,1.8,2,virginica
0,5.1,3.5,1.4,0.2,0,setosa
144,6.7,3.3,5.7,2.5,2,virginica

In [10]:
X=iris.data
y=iris.target
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X, y, train_size=0.6, random_state=101)
X_train.shape, X_test.shape

((90, 4), (60, 4))

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species(target),species-names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

ValueError: could not convert string to float: 'setosa'